<header role="row">
  <a href="#"><div class="nav visible-xs visible-sm pull-right hamburger-box">
    <div class="hamburger"></div>
  </div></a>
  <ul class="nav nav-pills pull-right nav-icon hidden-xs hidden-sm">
  	<li>
  		<a href="/mobile"><span aria-hidden="true" class="glyphicon glyphicon-phone"></span></a>
  	</li>
  	<li>
  		<a href="/profile"><span aria-hidden="true" class="glyphicon glyphicon-user"></span></a>
  	</li>
  	<li>
  		<a href="/search"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></a>
  	</li>
  	<li>
  		<a href="/edit"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
  	</li>
  </ul>
  <ul class="nav nav-pills pull-left nav-logo">
  	<li>
  		<div class="logo"></div>logo
  	</li>
  	<li class="gray-bg full icon">
  		<a href="/"><span aria-hidden="true" class="gray-bg glyphicon glyphicon-home"></span></a>
  	</li>
  </ul>
</header>
