{%extend layouts/page as content%}
<section class="content bg row">
	<section class="container text-center transparent margin-bottom">
	  <h1>Get Your Student Bank Account in Minutes</h1>
	  <p>Save time by using yur camera phone to send us a proof of address and a selfie.<br /> We'll also need your UCAS student number, so make sure you have it to hand</p>
	</section>
	<section class="text-center col-xs-12">
		<a href="/videocall"><button class="btn video btn-sm-block btn-default">video call</button></a>
		<button class="btn btn-sm-block btn-default">live chat</button>
	</section>
	<section class="text-center col-xs-12">
		<button class="btn btn-sm-block btn-default">visit branch</button>
	</section>
</section>
{%endextend%}
