$white: #FFF;
$nav:   #469ceb;
$secondary: #e16399;
$gray: #e0e0e0;
$dark-gray:#555555;
$light-gray:#f0f8ff;
$color-head:#52b3a6;
$chat-bg:#f0f8ff;
$text-color: $white;
$link-color: $white;
$input-color:$dark-gray;
$icon-font-path:'/app/vendor/bootstrap-sass/fonts/bootstrap/';

//buttons
$btn-default-color:              $white;
$btn-default-bg:                 transparent;
$btn-default-border:             $white;

$btn-primary-color:              $white;
$btn-primary-bg:                 $secondary;